

#image {margin-right: 100px;
    margin-left: 100px;}

  #summary-space {padding-right: 50px;
  padding-left: 50px;}

  p {padding-right: 50px;
  padding-left: 50px;}

  body {margin: 25px;
    padding-left: 50px;
    padding-right: 50px;}
    
    body {background-color: #b3dbd8ef;}

   
    
